* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --white: #fff;
  --light-red: hsl(356, 100%, 66%);
  --heading: hsl(208, 49%, 24%);
  --footer-bg: hsl(240, 10%, 16%);
  --footer-text: hsl(240, 2%, 79%);
  --hover-background: hsl(355, 100%, 74%);
}

body {
  font-family: "Overpass", sans-serif;
}
.flex {
  display: flex;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.align-center {
  align-items: center;
}

.hero {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  border-bottom-left-radius: 80px;
  overflow: hidden;
}
.hero .pattern {
  position: absolute;
  top: -75rem;
  width: 180rem;
  z-index: 1;
  left: -25rem;
}

.show-ham {
  display: none;
}

.navbar {
  position: relative;
  z-index: 3;
  height: 15vh;
  font-family: "Ubuntu", sans-serif;
}
.links-container {
  width: 80%;
}
.links {
  color: var(--white);
  list-style: none;
}
.links li {
  position: relative;
  padding: 0 4%;
  font-size: 14px;
  font-weight: 700;
}
.dropdown {
  opacity: 0;
  position: absolute;
  left: -10%;
  list-style: none;
  background-color: var(--white);
  padding: 15% 25%;
  margin-top: 10%;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.dropdown li {
  padding: 5% 0;
}
.dropdown li a {
  text-decoration: none;
  color: var(--heading) !important;
  font-size: 13px;
  font-weight: 300;
}
.product:hover .dropdown-product,
.company:hover .dropdown-company,
.connect:hover .dropdown-connect {
  opacity: 1;
  z-index: 5;
}
.product:hover .arrow,
.company:hover .arrow,
.connect:hover .arrow {
  transform: rotateX(180deg);
}
.dropdown li a:hover {
  font-weight: 600;
  text-decoration: none !important;
}
.links li a {
  color: var(--white);
  text-decoration: none;
  gap: 7%;
}
.links li a:hover {
  text-decoration: underline;
}
.auth-btns {
  width: 30%;
}
.auth-btns .btn {
  padding: 3% 10%;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
.auth-btns .login-btn {
  color: var(--white);
}
.auth-btns .signup-btn {
  color: var(--light-red);
  background-color: var(--white);
  border-radius: 25px;
  transition: all 0.3s linear;
}
.auth-btns .signup-btn:hover {
  background-color: var(--hover-background);
  color: var(--white);
}

.introduction {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  color: var(--white);
  gap: 5%;
}
.introduction h2 {
  font-size: 50px;
}
.introduction p {
  font-size: 16px;
}
.button-container {
  width: 30%;
  gap: 5%;
}
.button-container .btn {
  padding: 3% 6%;
  border-radius: 25px;
  text-decoration: none;
  font-size: 13px;
  text-transform: capitalize;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.button-container .btn1 {
  color: var(--light-red);
  background-color: var(--white);
  transition: all 0.3s linear;
}
.button-container .btn1:hover {
  background-color: var(--hover-background);
  color: var(--white);
}
.button-container .btn2 {
  color: var(--white);
  border: 1px solid var(--white);
  transition: all 0.3s linear;
}
.button-container .btn2:hover {
  border: none;
  background-color: var(--white);
  color: var(--light-red);
}

.future,
.laptop {
  position: relative;
  width: 100%;
  margin-top: 5%;
  padding: 2%;
  overflow: hidden;
}
.future h3 {
  font-size: 30px;
  color: var(--heading);
  text-align: center;
}
.future .illustration,
.laptop .illustration {
  position: absolute;
  width: 65%;
  height: 720px;
  top: 0;
  right: -20%;
}
.future-container .text,
.laptop-container .text {
  width: 50%;
  padding: 3% 0 0 15%;
  margin-bottom: 20%;
}
.future-container .text div {
  margin-top: 15%;
}
.future-container .text div h5,
.laptop-container .text div h5 {
  font-size: 25px;
  margin: 5% 0;
  color: var(--heading);
}
.future-container .text div p,
.laptop-container .text div p {
  font-size: 15px;
}

.state {
  position: relative;
  width: 100%;
  height: 23rem;
  background-image: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
}
.circle-pattern-container {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.circle-pattern {
  position: absolute;
  width: 720px;
  height: 600px;
  top: -50%;
  left: -10%;
}
.mobile-illustration {
  position: absolute;
  width: 470px;
  top: -10%;
  left: 10%;
}
.state .text {
  width: 50%;
  color: var(--white);
}
.state .text h5 {
  font-size: 25px;
  margin-bottom: 2%;
}
.state.text p {
  font-size: 15px;
}

.laptop .illustration {
  left: -20%;
}
.laptop-container .text {
  padding: 3% 5%;
}
.laptop-container .text div {
  margin-top: 10%;
}
.laptop-container .text div h5 {
  margin: 2% 0;
}

.footer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  place-content: center;
  gap: 5%;
  background-color: var(--footer-bg);
  padding: 5%;
  color: var(--white);
  border-top-right-radius: 80px;
}
.footer .footer-container img {
  width: 90px;
  height: 35px;
}
.footer .footer-container h5 {
  font-weight: 700;
  font-size: 16px;
}
.footer .footer-container .foot-links {
  list-style: none;
  margin-top: 10%;
}
.foot-links li {
  padding: 2% 0;
}
.foot-links li a {
  text-decoration: none;
  color: var(--footer-text);
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.foot-links li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  .circle-pattern-container {
    width: 50%;
  }
  .circle-pattern {
    width: 500px;
    height: 450px;
  }
  .mobile-illustration {
    width: 450px;
    height: 500px;
    left: 0;
  }
}
@media screen and (max-width: 992px) {
  .state {
    height: 20rem;
  }
  .mobile-illustration {
    width: 380px;
    height: 430px;
  }
}
@media screen and (max-width: 786px) {
  .introduction {
    text-align: center;
  }
  .button-container {
    width: 50%;
  }
  .future-container {
    flex-direction: column-reverse;
    padding: 5% 0;
  }
  .illustration {
    position: static !important;
  }
  picture {
    text-align: center;
  }
  .illustration {
    width: 400px !important;
    height: 400px !important;
  }
  .future-container .text,
  .laptop-container .text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .state {
    height: 30rem;
    flex-direction: column;
  }
  .circle-pattern-container {
    width: 100%;
  }
  .circle-pattern {
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
  }
  .mobile-illustration {
    top: -15%;
    width: 350px;
    height: 350px;
    left: 50%;
    transform: translateX(-50%);
  }
  .state .text {
    width: 80%;
    position: absolute;
    bottom: 15%;
    text-align: center;
  }
  .laptop-container {
    flex-direction: column;
  }
  .footer {
    grid-template-columns: 80%;
    gap: 0;
  }
  .footer-container {
    margin-top: 15%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    justify-content: space-between !important;
    padding: 0% 5%;
    position: relative;
  }
  .links-container {
    width: 90%;
    position: absolute;
    z-index: 10;
    top: 80%;
    flex-direction: column;
    background: var(--white);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  .links,
  .auth-btns {
    width: 80%;
    flex-direction: column;
    text-align: center;
  }
  .links {
    border-bottom: 1px solid var(--footer-text);
    padding: 5% 0;
  }
  .links li {
    width: 100%;
  }
  .dropdown {
    background-color: #e6e6e6;
    color: var(--heading);
    padding: 0;
    width: 100%;
    position: static;
    height: 0;
    margin-top: 2%;
    margin-bottom: 10%;
    transition: all 0.3s linear;
  }

  .product:hover .dropdown-product,
  .company:hover .dropdown-company,
  .connect:hover .dropdown-connect {
    opacity: 1;
    height: 100%;
    z-index: 5;
  }
  .links li a {
    color: var(--heading);
    justify-content: center;
    gap: 2%;
  }
  .auth-btns {
    align-items: center;
    padding: 2% 0;
  }
  .login-btn {
    color: var(--heading) !important;
  }
  .signup-btn {
    background-image: linear-gradient(
      to right,
      hsl(13, 100%, 72%),
      hsl(353, 100%, 62%)
    );
    color: var(--white) !important;
  }
  .hidden {
    display: none;
  }
  .show-ham {
    display: block;
  }
}
@media screen and (max-width: 430px) {
  .introduction {
    padding: 2%;
  }
  .introduction h2 {
    font-size: 35px;
  }
  .button-container {
    width: 75%;
  }
  .future h3{
    font-size: 25px;
  }
  .illustration {
    width: 300px !important;
    height: 300px !important;
  }
  .state{
    height: 35rem;
  }
  .mobile-illustration{
    width: 300px;
    height: 300px;
  }
  .circle-pattern{
    width: 400px;
  }
  .pattern{
    top: -10rem !important;
    width: 80rem !important;
    left: -20rem !important;
  }
}
